{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Task Managment</title>
  <link rel="stylesheet" href="{% static 'css/base.css'%}">

</head>
<body>

<div class="wrapper">
  <div class="top_navbar">
    <div class="hamburger">
      <div class="one"></div>
      <div class="two"></div>
      <div class="three"></div>
    </div>
    <div class="top_menu">
      <div class="logo">logo</div>
      <ul>
        <li><a href="#">
          <span class = "side-headers">Overview</span>
        </a>
      </li>
        <li><a href="#">
          <span class = "side-headers">TimeSheet</span>
          </a></li>
        <li><a href="#">
          <span class = "side-headers">Team</span>
          </a></li>
          <li><a href="#">
            <span class = "side-headers">Resources</span>
            </a></li>
      </ul>
    </div>
  </div>

  <div class="sidebar">
      <ul>
        <li><a href="/">
          <span class="icon"><i class="fas fa-book"></i></span>
          <span class="title">Home</span></a></li>
        <li><a href="#">
          <span class="icon"><i class="fas fa-file-video"></i></span>
          <span class="title">ChatRooms</span>
          </a></li>
        <li><a href="#">
          <span class="icon"><i class="fas fa-volleyball-ball"></i></span>
          <span class="title">Tracking</span>
          </a></li>
        <li><a href="#">
          <span class="icon"><i class="fas fa-leaf"></i></span>
          <span class="title">WorkLoad</span>
          </a></li>
          <hr>
          <li class = "fixtures"><a href= "#">
            <span class = "title">REPORTINGS</span>
          </a></li>
          <hr>
          <li><a href= "#">
            <span class = "icon"><i class = "fas fa-leaf"></i></span>
            <span class = "title">Goals</span>
          </a></li>
          <li><a href= "{% url 'reportings' %}">
            <span class = "icon"><i class = "fas fa-leaf"></i></span>
            <span class = "title">Reports</span>
          </a></li>
          <li><a href= "#">
            <span class = "icon"><i class = "fas fa-leaf"></i></span>
            <span class = "title">Issues</span>
          </a></li>
          <li><a href= "#">
            <span class = "icon"><i class = "fas fa-leaf"></i></span>
            <span class = "title">Deadlines</span>
          </a></li>
    </ul>
  </div>
</body>
</html>

<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script>
    $(document).ready(function(){
        $(".hamburger").click(function(){
          $(".wrapper").toggleClass("collapse");
        });
    });
</script>